DEBUG=false
SECRET_KEY=change-me
DATABASE_URL="postgresql://neondb_owner:npg_Yq6DfXnbU1dr@ep-autumn-mountain-adjn7ghd-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
ALLOWED_HOSTS=https://curoser-acc.onrender.com/
CSRF_TRUSTED_ORIGINS=https://curoser-acc.onrender.com/
TIME_ZONE=Africa/Cairo
